*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.left-side{
    padding-top: 50px;
    padding-bottom: 30px;
}
.right-side{
    padding-top: 50px;
    padding-bottom: 30px;
}
.home-img img{
    height: 100%;
    width: 100%;
}
.home-heading{
    font-weight: bold;
}
strong{
    color: #3498db;
}
.btn-get-started{
    border: 2px solid #3498db;
    border-radius: 30px;
    text-decoration: none;
    color: #3498db;
    font-size: 20px;
    transition: 0.10s;
    padding: 10px 15px 10px 15px;
}
.btn-get-started:hover{
    background-color: #3498db;
    color: white;
    
}
